<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>replit</title>
	<link th:href="@{/css/signup.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="sign-wrapper">
		<form>

			<h1>회원가입</h1>
			<label for="username">이름</label>
			<input type="text" id="username" name="username">

			<label for="birth">생년월일</label>
			<input type="birth" id="birth" name="birth">

			<label for="nickname">닉네임</label>
			<input type="nickname" id="nickname" name="nickname">

			<label for="confirm_id">아이디 중복확인</label>
			<input type="id" id="confirm_id" name="confirm_id">

			<label for="password">비밀번호</label>
			<input type="password" id="password" name="password">

			<label for="confirm_password">비밀번호 확인</label>
			<input type="password" id="confirm_password" name="confirm_password">

			<label for="email">이메일</label>
			<input type="email" id="email" name="email">

			<div class="button-container">
				<input type="submit" value="취소">
				<input type="submit" value="완료">
			</div>

		</form>
	</div>

	<script>
		function checkNickname() {
			var nickname = document.getElementById("nickname").value;
			var message = document.getElementById("nicknameMessage");

			// 동일한 닉네임이 존재하는지 확인
			if (nickname === "동일한 닉네임") {
				message.textContent = "동일한 닉네임이 존재합니다.";
			} else {
				message.textContent = "";
			}
		}

		function validateForm() {
			var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirm_password").value;
			var passwordMessage = document.getElementById("passwordMessage");
			var confirmPasswordMessage = document.getElementById("confirmPasswordMessage");

			// 비밀번호가 8자리 이상인지 체크
			if (password.length < 8) {
				passwordMessage.textContent = "비밀번호는 8자리 이상으로 입력해 주세요.";
				return false;
			} else {
				passwordMessage.textContent = "";
			}

			// 비밀번호와 비밀번호 확인이 일치하는지 체크
			if (password !== confirmPassword) {
				confirmPasswordMessage.textContent = "비밀번호가 일치하지 않습니다.";
				return false;
			} else {
				confirmPasswordMessage.textContent = "";
			}

			return true;
		}
	</script>
</body>


</html>